<div class='intro'>
  <h1><small>The Interwebz</small></h1>
  <h1>Community Music Wall</h1>
  <a class='btn btn-primary' href='/new'>Add song</a>
</div>

<ul class='list-group list-group-songs'>

  <% @songs.each do |song| %>
  <li class='list-group-item'>
    <div class='row'>
      
      <div class='col-xs-9'>
        <h4 class='list-group-item-heading'>
          <a href ='/details/<%= song.id %>'><%= song.title%> - <%= song.author%></a>
          <% if song.url && !song.url.empty? %><a href='<%= song.url %>'><span class='glyphicon glyphicon-link'></span></a><% end %>
        </h4>
        <p class="list-group-item-text">Posted by <%= song.user_id && poster_email(song.user_id) %></p>
      </div>

      <div class='col-xs-3'>
        <% if current_user && already_upvoted?(song.id, current_user) %>
          <a class='btn btn-link disabled'><span class='glyphicon glyphicon-circle-arrow-up upvote-wrapper'></span></a>
        <% else %>
        <form method='post' action='/upvote' class='upvote-wrapper'>
          <input type='hidden' name='song_id' value='<%= song.id %>'>
          <button type='submit' class='btn btn-link'><span class='glyphicon glyphicon-circle-arrow-up'></span></button>
        </form>
        <% end %>
        <span class='badge'><%= song.upvotes.count %></span>
      </div>

    </div>
  </li>
  <% end %>

</ul>