<h2><%= @song.title %> - <%= @song.author %></h2>
<% if @song.user_id %>
<p>Posted by <%= poster_email(@song.user_id) %></p>
<% end %>

<% if current_user && allowed_to_review?(@song.id) %>
<div class='form-wrapper'>
  <form method='post'>
    <input type='hidden' name='review_action' value='add_review'>
    <div class='form-group'>
      <label for='formContent'>Leave a review</label>
      <textarea id='formContent' class='form-control' name='content'></textarea>
    </div>
    <div class='form-group'>
      <label for='formRating'>Rating</label>
      <select id='formRating' class='form-control' name='rating'>
        <option value='1'>1</option> 
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
      </select>
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
</div>
<% elsif current_user %>
<% # Nothing if current user already submitted a review %>
<% else %>
<p><a href='/login'><strong>Log in</strong></a> to leave a review.</p>
<% end %>

<h4>Latest Reviews</h4>

<% @reviews.each do |review| %>
  <% if review.user_id == current_user %>
    <div class='well well-sm'>
      <form method='post'>
        <input type='hidden' name='review_action' value='remove_review'>
        <button class='btn btn-link btn-remove-review'>
          <span class='glyphicon glyphicon-remove-sign'></span>
        </button>
      </form>
      <div>
        <% review.rating.times do |i| %>
        <span class='glyphicon glyphicon-star'></span>
        <% end %>
      </div>
      <p><%= review.content %> // <%= poster_email(review.user_id) %></p>
    </div>
  <% else %>
    <div>
      <% review.rating.times do |i| %>
        <span class='glyphicon glyphicon-star'></span>
      <% end %>
    </div>
    <p><%= review.content %> // <%= poster_email(review.user_id) %></p>
  <% end %>  
<% end %>  